<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
	  <!-- IP, LOGIN, BDD, MDP  -->
	  <add key="bdd" value="172.31.135.2,admin,bdd_escape_game,admin" />
	  <!-- <add key="bdd" value="127.0.0.1,root,bdd_escape_game," /> -->
	</appSettings>
</configuration>